/* POSITIVE-POINTS SECTION */

.section-positive-points {
	padding: 9.6rem 0;
}

.feature-icon {
	color: var(--primary-color);
	height: 3.2rem;
	width: 3.2rem;
	margin-bottom: 3.2rem;
	background-color: var(--tint-one);
	padding: 1.6rem;
	border-radius: 50%;
}

.feature-title {
	font-size: 2.4rem;
	color: var(--dark-color);
	font-weight: 700;
	margin-bottom: 1.6rem;
}

.feature-text {
	font-size: 1.8rem;
	line-height: 1.8;
}
