/* SERVICE SECTION */

.section-service {
	padding: 9.6rem 0;
}

.step-textbox,
.step-textbox:link,
.step-textbox:visited {
	text-decoration: none;
	color: unset;
}

.step-textbox .link {
	font-size: 1.8rem;
	font-weight: 600;
}

.step-img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.step-img-box::before,
.step-img-box::after {
	content: "";
	display: block;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* .step-img-box::before {
	width: 60%;
	padding-bottom: 60%;
	background-color: var(--tint-one);
	z-index: -2;
}

.step-img-box::after {
	width: 50%;
	padding-bottom: 45%;
	background-color: var(--tint-two);
	z-index: -1;
} */

.step-img {
	width: 60%;
	border-radius: 2rem;
}

.step-number {
	font-size: 9.8rem;
	font-weight: 600;
	color: #999;
	margin-bottom: 1.2rem;
}

.step-desc {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 0.6rem;
}
