@font-face {
	font-display: swap;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 300;
	src: url("./fonts/rubik-v28-latin-300.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/rubik-v28-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/rubik-v28-latin-500.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 600;
	src: url("./fonts/rubik-v28-latin-600.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/rubik-v28-latin-700.woff2") format("woff2");
}

/* ---------- */

@font-face {
	font-display: swap;
	font-family: "Rubik farsi";
	font-style: normal;
	font-weight: 300;
	src: url("./fonts/Rubik-farsi-Light.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Rubik farsi";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/Rubik-farsi-Regular.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Rubik farsi";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/Rubik-farsi-Medium.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Rubik farsi";
	font-style: normal;
	font-weight: 600;
	src: url("./fonts/Rubik-farsi-SemiBold.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Rubik farsi";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/Rubik-farsi-Bold.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Rubik farsi";
	font-style: normal;
	font-weight: 900;
	src: url("./fonts/Rubik-farsi-Black.ttf") format("truetype");
}