@import url("./fonts.css");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
[data-theme="light"] ::-moz-selection {
	background-color: rgba(233, 166, 159, 0.85);
	color: #fff;
}
[data-theme="light"] ::selection {
	background-color: rgba(233, 166, 159, 0.85);
	color: #fff;
}
:root,
html [data-theme="light"] {
	--primary-color: #e08076;
	--white-color: #f5f5f5;
	--gray-color: #555;
	--gray2-color: #777;
	--dark-color: #333;
	--tint-one: #f6d9d6;
	--tint-two: #f0c0bb;
	--tint-three: #e9a69f;
	--shade-one: #5a332f;
	--shade-two: #70403b;
	--shade-three: #9d5a53;
	--boxshadow-color: #00000014;
	--footer-link-color: #767676;
}
:focus {
	outline: 0;
	box-shadow: 0 0 0 0.4rem var(--tint-three);
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	direction: rtl;
	position: relative;
}
body {
	font-family: "Rubik farsi", Rubik, Tahoma, sans-serif;
	line-height: 1.2;
	font-weight: 400;
	color: var(--gray-color);
	overflow-x: hidden;
	background-color: var(--white-color);
}
.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}
.grid {
	display: grid;
	row-gap: 9.6rem;
	-moz-column-gap: 6.4rem;
	column-gap: 6.4rem;
}
.grid:not(:last-child) {
	margin-bottom: 9.6rem;
}
.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
	grid-template-columns: repeat(5, 1fr);
}
.grid--center-v {
	align-items: center;
}
.logo {
	height: 2.2rem;
}
.subheading {
	display: block;
	font-size: 2rem;
	font-weight: 500;
	color: var(--shade-one);
	text-transform: uppercase;
	margin-bottom: 1.6rem;
}
.header-primary,
.header-secondary,
.header-teritiary {
	font-weight: 700;
	color: var(--dark-color);
}
.header-primary {
	font-size: 5.2rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
	font-weight: 900;
}
.header-secondary {
	font-size: 4.4rem;
	line-height: 1.2;
	margin-bottom: 9.6rem;
}
.header-teritiary {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
}
.btn,
.btn:link,
.btn:visited {
	color: #fff;
	font-size: 2rem;
	display: inline-block;
	padding: 1.6rem 3.2rem;
	border-radius: 0.5rem;
	text-decoration: none;
	font-weight: 600;
	transition: background-color 0.3s, box-shadow 0.3s;
	border: 0;
	cursor: pointer;
	font-family: inherit;
}
.btn--full:link,
.btn--full:visited {
	background-color: var(--primary-color);
}
.btn--full:active,
.btn--full:hover {
	background-color: var(--shade-one);
}
.btn--outline:link,
.btn--outline:visited {
	background-color: var(--white-color);
	color: var(--gray-color);
}
.btn--outline:active,
.btn--outline:hover {
	background-color: var(--tint-one);
	box-shadow: 0 0 0 3px #fff inset;
}
.btn--form {
	background-color: var(--shade-three);
	color: var(--tint-one);
	align-self: end;
	padding: 1.2rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn--form:hover {
	background-color: var(--tint-one);
	color: var(--shade-three);
}
.margin-left-sm {
	margin-left: 1.6rem !important;
}
.margin-bottom-md {
	margin-bottom: 4.8rem !important;
}
.center-text {
	text-align: center;
}
.flex-centered--v {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
strong {
	font-weight: 500;
}
.link:link,
.link:visited {
	color: var(--primary-color);
	display: inline-block;
	text-decoration: none;
	transition: border-bottom 0.3s, color 0.3s;
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
}
.link:active,
.link:hover {
	color: var(--shade-one);
	border-bottom: 1px solid currentColor;
}
.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.list-items {
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	gap: 1.6rem;
	transition: color 0.2s;
	line-height: 1.2;
}
.list-icon {
	width: 3rem;
	height: 3rem;
	color: var(--primary-color);
}
.backToTop {
	height: 5rem;
	width: 5rem;
	position: fixed;
	bottom: 4rem;
	right: 4rem;
	z-index: 999;
	font-size: 3.2rem;
	border: none;
	outline: 0;
	background-color: var(--dark-color);
	color: var(--white-color);
	fill: var(--white-color);
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.3s, opacity 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.backToTop:active,
.backToTop:focus,
.backToTop:hover {
	background-color: var(--white-color);
	color: var(--dark-color);
	fill: var(--dark-color);
	box-shadow: inset 0 0 0 2px var(--dark-color);
}
.noscript-container {
	width: 100dvw;
	height: 100dvh;
	z-index: 99999;
	margin-bottom: 100rem;
}
